//color palette
$primary: #938e94;
$primary-darker: #5D5C61;
$secondary: #7395AE;
$secondary-darker: #557A95;
$terciary: #B1A296;

body{
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 14px;
    color: black;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5{
    font-weight:500;
}

a{
    color: $primary;
    text-decoration: none;
    :hover{
        color: $primary-darker;
        text-decoration: none;
        font-weight: 400;
    }
}

.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $secondary;
    height: 3rem;
    font-size: 24px;
    display: flex;
    flex-flow: row-reverse nowrap;
    border-bottom: solid $primary-darker .15rem;
    z-index: 2;
    a{
        color: whitesmoke;
        display: block;
        text-align: center;
        padding: .5rem .5rem;
        height: 2rem;
    }

    a:hover{
        font-style: none;
        font-weight: 500;
        background-color: $secondary-darker;
    }
}

.content{
    position: relative;
    top: 3rem;
    padding: 1%;

    @media only screen and (min-width: 1024px){
        width:68%;
        margin: 0 15%;
    }

    @media only screen and (max-width: 1024px){
        width:96%;
        margin: 0 1%;
    }
}

.row-container{
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
    justify-content: flex-end;

    >*{
        min-width: 15rem;
        flex-basis: 0;
    }
}

.introduction{
    flex-grow: 2;
    min-width: 20rem;
}

.personal-info{
    flex-grow: 1;
    max-width: 20rem;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 0.6rem;

    .info{
        margin-left: .2rem;
    }
}

.personal-info-item{
    display: flex;
}

.skills-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    min-width: 15rem;
    max-width: 30rem;
}

.skills{
    display: flex;
    flex-flow: row-reverse wrap;
}

.bubble{
    color: whitesmoke;
    font-weight: 600;
    background-color: $terciary;
    border-color: $primary-darker;
    border-style: solid;
    border-width: thin;
    border-radius: .6rem;
    padding: .1rem .5rem;
    margin: .3rem;
}

.experience{
    flex-grow: 2;
    min-width: 20rem;
}

.place-dates{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
}

.experience-description{
    display: flex;
    flex-flow: column nowrap;

    >*{
        padding: 0.3rem 0.5rem;
    }
}

.icon-small{
    width: 1.2rem;
    height: 1.2rem;
}